{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
<style>
    @media (max-width: 768px) {
        .headt {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .contentsts {
            padding-left: 20px;
            padding-right: 20px;
        }
</style>
    <div class="headt">
        <h1>О нас</h1>
    </div>
    <div class="contentsts">
        <h4>Актуальность проекта:</h4><br>
        <p>К необходимости целенаправленного обучения педагогов практике проведения уроков и учебных занятий педагогическое сообщество пришло достаточно давно. Существуют курсы, вебинары, проводятся семинары, направленные на решение этой задачи.</p><br>
        <p>Проект «Сто баллов – круто» предлагает принципиально новую модель горизонтального взаимодействия членов педагогического сообщества, внося вклад в решение проблемы подготовки начинающих педагогических кадров. Молодые учителя-выпускники проекта смогут организовать эффективное взаимодействие со своими учениками с привлечением действенных образовательных технологий, формируя индивидуальные образовательные маршруты с учётом запроса конкретного ребёнка. Подобная работа отвечает ожиданиям участников образовательного процесса в современной школе.</p><br>

        <h4>Краткая информация о проекте:</h4><br>
        <p>Проект «Сто баллов – круто» повышает уровень профессиональной подготовки студентов педагогических образовательных организации высшего образования. В ходе реализации проекта предполагается проведение обучения студентов педагогических университетов методикам подготовки групп выпускников школы к государственной итоговой аттестации и иным образовательным процессам.</p><br>
        <p>Практической частью проекта является проведение дистанционных занятий студентами педагогических университетов с выпускниками школ.</p><br>
        <p>Сочетание очного и дистанционного форматов работы проекта позволяют качественнее подготовить студентов педагогических университетов к их последующей работе в школе в качестве, в том числе, группового тьютора, готовящего своих выпускников к ЕГЭ и наставника, развивающего олимпиадное направление в школе. Применение дистанционной модели подготовки позволяет расширить географию выпускников и доступность проекта.</p><br>
        <p>Проект создает ситуацию успеха студентам педагогических университетов. Студент, создавая в ходе своего участия в проекте рабочую программу и успешно подготавливая по ней своих учеников, видит собственные успехи, что повышает в нём мотивацию к дальнейшей работе в школе после выпуска из университета.</p><br>

        <h4>Целевая аудитория:</h4><br>
        <p>1.	Студенты педагогических образовательных организации высшего образования. Поскольку данные студенты наиболее открыты к участию в проектах и обладают наибольшим временным запасом для участия в проекте.</p><br>
        <p>2.	Выпускники школ, оказавшиеся в непростой жизненной ситуации. Данная категория выпускников школ наиболее нуждается в помощи, поскольку они в силу разных причин слабо освоили школьные дисциплины.</p><br>

        <h4>Охваты:</h4><br>
        <p>1.	Студенты педагогических вузов – не менее 2 000 человек.</p><br>
        <p>2.	Выпускники школ – не менее 7 000 человек.</p><br>

        <h4>Описание проблемы:</h4><br>
        <p>На данный момент в системе подготовки педагогических кадров есть один пробел – подготовка студентов педагогических университетов к их будущей деятельности в качестве школьных тьюторов. После окончания университета молодые учителя сталкиваются с проблемой отсутствия у них методики подготовки своих учеников к экзамену. Соответственно, складывается следующая ситуация: молодой учитель обладает всеми навыками и методиками для качественной урочной работы, но не имеет практических навыков подготовки своих учеников к ЕГЭ. «Сто баллов – круто» организует комплекс подготовки студентов из теории и практики.</p><br>
        <p>Второй проблемой, которую призван решать проект, является подготовка к сдаче ЕГЭ детей, оказавшихся в непростой жизненной ситуации. Система школьного образования предполагает, что ученик школы может самостоятельно успешно сдать экзамен. Однако в школах присутствуют выпускники, которые в силу различных причин не в полной мере овладели школьной программой. Например, дети, которые растут в семьях, находящихся в трудной жизненной ситуации. На подготовку этих детей рассчитан проект.</p><br>

        <h4>Решение проблемы:</h4><br>
        <p>1.	Основным аспектом проекта является его направленность на подготовку студентов к их дальнейшей работе в школе в качестве тьюторов групп выпускников. Административная часть команды организует обучение групп тьюторов по их предметам. Важным аспектом подготовки является её направленность на дальнейшую работу тьюторов с группами их учеников (поскольку в проекте участвуют студенты педагогических университетов, для их дальнейшей работы школьным учителем требуется умение проводить групповую подготовку учеников).</p><br>
        <p>2.	После прохождения подготовки тьюторы переходят к практическому этапу проекта. Каждому тьютору предоставляется группа участников проекта: выпускников школы, оказавшихся в непростой жизненной ситуации. Тьюторы помогают в обучении, нарабатывая собственный практический опыт. Студенты педагогических университетов помогают детям освоить предмет и готовят участников проекта к сдаче единого государственного экзамена. Таким образом создается ситуация, в которой, приобретая собственный практический опыт, студент готовит своих учеников так, что каждый из них успешно сдаст ГИА.</p><br>
        <p>Стоит отметить, что подготовка участников проекта организуется в дистанционном режиме. Данный формат работы дает возможность готовить не только выпускников, имеющих возможность приезжать на очные занятия в университет, но и выпускников школ из отдаленных районов.</p><br>

        <p>Миссия проекта – создать условия для профессионального роста студентов педагогических вузов России в школьном тьюторском направлении и замотивировать их к работе в школах после выпуска из университета.</p><br>

        <p>Цель проекта – создание условий для качественного овладения методиками подготовки групп учеников к ЕГЭ студентами педагогических вузов через развитие студенческих тематических сообществ и передачи им ценностей российской педагогики.</p><br>

        <h4>Задачи:</h4><br>
        <p>- оказать содействие студенту в формировании собственной предметно-методической базы подготовки выпускников посредством обучения студента методикам, в создании условий для написания им собственных учебных программ и практической отработки полученных знаний;</p><br>
        <p>- организовать процесс отработки теоретических навыков на практике в работе со школьниками, оказавшимися в непростой жизненной ситуации, путём проведения регулярных дистанционных занятий тьюторами проекта.</p><br>

        <h4>Итоги MVP:</h4><br>
        <p>Проект оправдал себя. В 2021-2022 учебном году был запущен минимальный жизнеспособный продукт проекта. В проекте приняло участие 254 выпускника. Все участники проекта успешно сдали ЕГЭ. Самым результативным является направление «Русский язык», средний балл в котором составил 74. Средние показатели по направлением колеблются в амплитуде 55-65 баллов (данные по отзывам участников проекта).</p><br>
        <p>Кроме этого, показателем результативности проекта является факт набора необходимого количества баллов участниками проекта, которые пришли в проект с минимальным начальным уровнем знаний. В этом случае на экзамене участник (направление «История») смог набрать необходимый проходной балл для сдачи экзамена. Участники, прилагающие систематические усилия, выполняющие рекомендованные задания, посещающие занятия группы, справляются с экзаменационными заданиями на более высокий балл.</p><br>
        <p>Поскольку проект предполагает получение профессиональных навыков у студентов, выполняющих роль тьюторов групп, разработана и апробирована система их подготовки. По итогу были апробированы различные варианты организации взаимодействия внутри проекта. Взаимодействие тьюторов и участников проекта сыграло роль профориентации – 3 выпускника проекта поступили в педагогический вуз.</p><br>
        <p>Организация и координация всей работы проекта на федеральном уровне, организация учебных групп на территории педагогических университетов подбор команды, контроль за выполнением ключевых показателей эффективности (далее КПЭ), разработка и выполнение планов развития проекта, решение оперативных задач.</p><br>
    </div>
{% endblock %}
