{% extends 'main/base.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Регистрация</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="registration-container">
        <form id="signup-form" method="post" action="{% url 'signup' %}" class="registration-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_role">Выберите роль:</label>
                <select name="role" id="id_role">
                    <option value="participator" {% if initial_role == 'participator' %}selected{% endif %}>Участник</option>
                    <option value="tutor" {% if initial_role == 'tutor' %}selected{% endif %}>Тьютор</option>
                    <option value="supervisor" {% if initial_role == 'supervisor' %}selected{% endif %}>Наставник</option>
                    <option value="areacurator" {% if initial_role == 'areacurator' %}selected{% endif %}>Куратор направления</option>
                    <option value="coordinator" {% if initial_role == 'coordinator' %}selected{% endif %}>Координатор</option>
                    <option value="zamruk" {% if initial_role == 'zamruk' %}selected{% endif %}>Заместитель руководителя проекта</option>
                    <option value="master" {% if initial_role == 'master' %}selected{% endif %}>Руководитель проекта</option>
                </select>
            </div>
            <div id="extra-fields" class="form-group"></div>
            <ul id="error-messages" class="alert alert-danger" style="display: none; margin-bottom: 10px;"></ul>
            <div class="form-group" style="text-align: center;">
                <button type="submit" class="submit-button">Зарегистрироваться</button>
            </div>
        </form>
    </div>

    <style>
        .registration-container {
            padding-top: 5%;
            padding-bottom: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .registration-form {
            border: 1px solid #ccc;
            padding: 20px;
            width: 95%;
            max-width: 1200px;
            background-color: white;
        }
        .form-group {
            margin-bottom: 10px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
        }
        .form-group select, .form-group input {
            width: 100%;
            max-width: 300px;
        }
        .submit-button {
            background-color: #0d6efd;
            color: #fff;
            border: none;
            padding: 10px 20px;
        }
        @media (max-width: 600px) {
            .form-group {
                display: block;
            }
            .form-group label, .form-group select, .form-group input {
                width: 100%;
                max-width: 300px;
            }
            .registration-form {
                width: 100%;
                padding: 10px;
            }
        }
    </style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            function updateExtraFields(role) {
                var url = '/get-fields/' + role + '/';
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        if (response && response.extra_fields_html) {
                            $('#extra-fields').empty();
                            $('#extra-fields').html(response.extra_fields_html);
                            updateUniversityField();
                        } else {
                            console.error('Failed to get extra fields HTML or empty response.');
                        }
                    },
                    error: function(xhr, status, error) {
                        var responseJson = JSON.parse(xhr.responseText);
                        var errorMessages = [];
                        $.each(responseJson.errors, function(key, value) {
                            errorMessages.push(value.join(' '));
                        });
                        $('#error-messages').html(errorMessages.join('<br>')).show();
                    }
                });
            }

            function updateUniversityField() {
                $("#id_region").change(function() {
                    var url = "{% url 'load_universities' %}";
                    var regionId = $(this).val();
                    $.ajax({
                        url: url,
                        data: {
                            'region': regionId
                        },
                        success: function(data) {
                            $("#id_university").html('<option value="">---------</option>');
                            $.each(data, function(key, value) {
                                $("#id_university").append('<option value="' + value.id + '">' + value.name + '</option>');
                            });
                        },
                        error: function(xhr, status, error) {
                            console.error('Failed to load universities:', error);
                        }
                    });
                });
            }

            var role = $('#id_role').val();
            updateExtraFields(role);

            $('#id_role').change(function() {
                var role = $(this).val();
                $('#extra-fields').empty();
                updateExtraFields(role);
            });

            $('#signup-form').submit(function(e) {
                e.preventDefault();
                $('#error-messages').hide().empty();

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: function(response) {
                        if (response.success && response.redirect_url) {
                            window.location.href = response.redirect_url;
                        }
                    },
                    error: function(xhr, status, error) {
                        var responseJson = JSON.parse(xhr.responseText);
                        var errorMessages = [];
                        $.each(responseJson.errors, function(key, errorObjects) {
                            errorObjects.forEach(function(errorObject) {
                                errorMessages.push(key + ': ' + errorObject.message);
                            });
                        });
                        $('#error-messages').html('<li>' + errorMessages.join('</li><li>') + '</li>').show();
                    }
                });
            });

            updateUniversityField();
        });
    </script>
{% endblock %}